<div>


    <hr>
    <h1>Player statistics </h1>
    <section class="col-lg-4" ng-repeat="statistic in  main.statistic track by $index ">
        <h2>{{ statistic.name }}</h2>
        <p>matches : {{statistic.matches}}</p>
        <p>Win :{{statistic.wins}}</p>
        <p>time:{{statistic.time}}</p>
        <p>percent of win :
            <uib-progressbar class="progress-striped" value="(statistic.wins * 100 / statistic.matches) |number:0"
                             max="100">
                {{ (statistic.wins * 100 / statistic.matches) |number:0}}%
            </uib-progressbar>
        </p>
        <hr>
    </section>
    <div class="row"></div>
    <hr>
    <h1>Last 10 matches</h1>

</div>
<section class="col-lg-6" ng-repeat="game in main.games|reverse|limitTo:main.limitTo track by $index  ">
    <h2><span ng-class="{'win': main.isWin(game), 'lost': !main.isWin(game)}">{{ game.name1 }} </span>|| <span
            ng-class="{'lost': main.isWin(game), 'win': !main.isWin(game)}"> {{ game.name2 }}</span></h2>
    <p>Score - {{ game.score1 }}:{{ game.score2 }}<br>{{ game.time | date:'dd MMMM yyyy' }}</p>

    <form ng-show="main.showEdit[$index]" ng-submit="main.saveEdit($index)">
        <label class="form-group">My Name: <input class="form-control" type="text" ng-model="game.name1"></label>
        <label class="form-group">Who I played: <input class="form-control" type="text" ng-model="game.name2"></label>

        <label class="form-group">{{ start.name }} points: <input class="form-control" type="number"
                                                                  ng-model="game.score1"
                                                                  max="21" min="0"></label>
        <label class="form-group">{{ start.hisName }} points: <input class="form-control" type="number"
                                                                     ng-model="game.score2"
                                                                     max="21" min="0"></label>
        <input class="form-group" type="date" ng-model="game.time">

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <button ng-click=" main.showEditfn($index)" class="btn btn-primary">Edit</button>
    <hr>
</section>
<button class="btn btn-primary col-lg-12" ng-click="main.addMoreLimitTo()">Add more!!!</button>
<div class="row"></div>

