<div>


    <hr>
    <h1>Statistics</h1>
    <section class="col-lg-4" ng-repeat="statistic in  main.statistic track by $index ">

        <h2>{{ statistic.name }}</h2>
        <p>matches : {{statistic.matches}}</p>
        <p>Win :{{statistic.wins}}</p>
        <p>percent of win :
            <uib-progressbar class="progress-striped" value="(statistic.wins * 100 / statistic.matches) |number:0"
                             max="100">
                {{ (statistic.wins * 100 / statistic.matches) |number:0}}%
            </uib-progressbar>
        </p>
        <hr>
    </section>
    <div class="row"></div>
    <hr>
    <h1>Last 10 matches</h1>

</div>
<section class="col-lg-6" ng-repeat="game in main.filter10|reverse track by $index  ">
    <h2><span ng-class="{'win': main.isWin(game), 'lost': !main.isWin(game)}">{{ game.name1 }} </span>|| <span
            ng-class="{'lost': main.isWin(game), 'win': !main.isWin(game)}"> {{ game.name2 }}</span></h2>
    <p>Score - {{ game.score1 }}:{{ game.score2 }}<br>{{ game.time | date:'EEEE - HH:mm:ss' }}</p>

    <form ng-show="main.showEdit[$index]" ng-submit="start.save()">
        <label class="form-group">My Name: <input class="form-control" type="text" ng-model="start.name"
                                                  uib-typeahead="state for state in start.getAllOpponent() | filter:$viewValue | limitTo:8"></label>
        <label class="form-group">Who I played: <input class="form-control" type="text" ng-model="start.hisName"
                                                       uib-typeahead="state for state in start.getAllOpponent() | filter:$viewValue | limitTo:8"></label>

        <label class="form-group">{{ start.name }} points: <input class="form-control"
                                                                  type="number"
                                                                  ng-model="start.points"
                                                                  max="21" min="0"></label>
        <label class="form-group">{{ start.hisName }} points: <input class="form-control"
                                                                     type="number"
                                                                     ng-model="start.hisPoints"
                                                                     max="21" min="0"></label>
        <input class="form-group" type="date" ng-model="game.time" ng-model="game.time"/>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <button ng-click=" main.showEditfn($index)" class="btn btn-success">Edit</button>
    <hr>

</section>
<div class="row"></div>

